<h1>About me</h1>
<p>My name is Joanna, I am a student of last year of Translation Studies and Electronic Information Processing. I like sci-fi, running, books of all kinds and weird music. One day I will run a marathon inside the Arctic Circle and sleep in a tent on Kamchatka. </p>
