<%= form_for(comment) do |form| %>
	<p><%= form.label("content") %></p>
	<p><%= form.text_area("content") %></p>
	<p><%= form.label("author") %></p>
	<p><%= form.text_field("author") %></p>
	<p><%= form.label("email") %></p>
	<p><%= form.text_field("email") %></p>
	<p><%= form.hidden_field :entry_id, :value => entry_id %></p>
	<p><%= form.submit %></p>
<% end %>