<%= form_for(entry) do |form| %>
	<p><%= form.label("title") %></p>
	<p><%= form.text_field("title") %></p>
	<p><%= form.label("contents") %></p>
	<p><%= form.text_area("contents") %></p>
	<p><%= form.label("date") %></p>
	<p><%= form.date_field("date") %></p>
	<p><%= form.submit %></p>
<% end %>