  <div>
  	<% for entry in @entries %>
  		<h2><%= link_to(entry.title, entry_path(entry)) %></h2>
  		<p><%= entry.date %></p>
  		<p><%= entry.contents %></p>
      <ul>
        <li><%= link_to("Edit this entry", edit_entry_path(entry)) %></li>
        <li><%= link_to("Delete", entry_path(entry), data: {confirm: "Are you sure?"}, method: :delete) %></li>
      </ul>
  	<% end %>
  </div>
  <div>
    <br>
  	<%= link_to("New entry", new_entry_path) %>

  </div>