<h2><%= @entry.title %></h2>
	<p><%= @entry.date %></p>
	<p><%= @entry.contents %></p>
	<% if @entry.comments.any? %>
		<div class="comment">
			<h4>Comments (<%= @entry.comments.size %>)</h4>
			<ul>
				<% for comment in @entry.comments %>
		  			<li class="col-md-12"><%= comment.content %></li>
		  			<li class="comment_authorship">Added by <b><%= comment.author %></b></li>
		  			<li class="comment_authorship"><%= comment.email %></li>
		  			<li class="comment_authorship"><%= link_to("Edit", edit_comment_path(comment)) %></li>
		  			<li class="comment_authorship"><%= link_to("Delete", comment_path(comment), data: {confirm: "Are you sure?"}, method: :delete) %></li>
		  		<% end %>
		  	</ul>
		</div>
		<% else %>
		<div class="comment">
			<h4>No comments</h4>
		</div>
	<% end %>

	<p><%= link_to("Edit this entry", edit_entry_path(@entry)) %></p>
	<p><%= link_to("Back to all entries", entries_path) %></p>

	<%= render partial: 'comments/form', locals: {comment: Comment.new, entry_id: @entry.id} %>