html, body {
  color: $color-text;
  font-family: $font-text;
  font-size: $font-size;
  line-height: $font-line-height;
}

a {
  text-decoration: none;
  color: $color-text;

  &:hover {
    color: $color-link;
    text-decoration: none;
    background-color: none;
  }
}