html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {
  width: $container-width;
  position: relative;
  padding: $container-padding;
}

.main {
  padding: 10px;
  padding-bottom: 60px; /* Height of the footer */
}

h1 a {
	color: #1A4B57;
	font-weight: bold;
}

h2 a {
	color: #1A4B57;
}

a {
	color: #208AA3;
}

a:hover {
	color: #63283E;
}

ul {
	padding: 0;
}

li {
	display: inline;
	margin: 0 2em 0 0;
}

textarea {
	width: 80%;
}

.intro {
  font-size: 1.2em;
}

.comment_authorship {
  font-size: 0.8em;
}