//  Variables

// Colors definitions
$color-text: black;
$color-error: red;
$color-success: green;
$color-link: yellow;
$color-footer: grey;

// Container definitions
$container-width: 960px !default;
$container-padding: 10px !default;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-text: 'Alegreya', serif !default;
$font-size: 16px !default;
$font-line-height: 1.4 !default;

