<%= form_for(site) do |form| %>
	<p><%= form.label("name") %></p>
	<p><%= form.text_field("name") %></p>
	<p><%= form.label("url") %></p>
	<p><%= form.text_area("url") %></p>
	<p><%= form.submit %></p>
<% end %>