<h1>My favourite websites</h1>
<div>
  	<% for site in @sites %>
  		<h2><%= site.name %></h2>
  		<p><%= link_to(site.url, site.url) %></p>
  	<% end %>
  </div>
  <div>
    <br>
  	<%= link_to("New site", new_site_path) %>

  </div>